# 1. Ignore the local provider cache and modules
.terraform/

# 2. Ignore sensitive state files (these contain secrets!)
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.terraform.lock.hcl

# 3. Ignore local variables and override files
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# 4. Ignore CLI configuration files
.terraformrc
terraform.rc